.Container {
    margin: auto;
    width: fit-content;
}

.Form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: right;
}

.Form input {
    text-align: right;
}
.Form input:first-child {
    margin-top: 0;
}
